.editor {
    height: "500px";
}
div {
    text-align: left;
    
}
#song-display {
    position: relative;
    top: 40px;
    font-family: monospace;
    line-height: 1em;
}

chord {
    color: red;
}